body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 50px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#message {
  margin-top: 20px;
}

#submitButton {
  transition: transform 0.1s, background-color 0.1s; /* Smooth transition for transform and background-color properties */
}

#submitButton:active {
  transform: scale(
    0.95
  ); /* Reduce the size of the button to 95% of its original size when pressed */
  background-color: #4d4c4c; /* Change the background color to a slightly darker shade when pressed */
}

h1 {
  text-align: center;
}

#teamKillModal.modal {
  display: none;
  /* ... other styles ... */
}

#teamKillModal .modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* You can adjust this if you want a different width */
  margin: auto; /* This will center the content */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

#teamKillModal {
  width: 80%; /* Adjust as per your requirement */
  height: 80%; /* Adjust as per your requirement */
  max-width: 600px; /* Adjust as per your requirement */
  max-height: 800px; /* Adjust as per your requirement */
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
