*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAADFBMVEUtLS8uLjAvLzEsKy2xgXVgAAAASElEQVR4Ae3QoQ3AAAwDQa9Qmu1DX5kk6lAdoEbBJk8tn4qHdtHyMi7qpspFM+y6iKJxEcvgctm5/IlBDGIQgxjEIAYxiME/H1nLq0bNJikRAAAAAElFTkSuQmCC);
  color: #dfcdc3;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #c3e8f3;
}

input,
select {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #5f6769;
  background-color: #3c4245;
  color: #dfcdc3;
  border-radius: 5px;
}

#openModalBtn {
  display: block;
  width: 30%;
  background-color: #a5968d;
  color: #000000;
  border: none;
  border-radius: 5px;
  margin-left: auto;
}

#openModalBtn:hover {
  color: #dfcdc3;
  background-color: #5f6769;
}

button {
  display: block;
  width: 95%;
  padding: 10px;
  background-color: #719192;
  color: #dfcdc3;
  border: none;
  border-radius: 5px;
}

#message {
  margin-top: 20px;
  text-align: center;
  color: #dfcdc3;
}

#submitButton {
  transition: transform 0.1s, background-color 0.1s;
}

#submitButton:active {
  transform: scale(0.95);
  background-color: #5f6769;
}

h1 {
  text-align: center;
  color: #dfcdc3;
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
  /* font-family: "Notable", sans-serif; */
}
h2 {
  text-align: center;
  color: #dfcdc3;
  text-transform: uppercase;
}
#teamKillModal {
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 40%;
}

#teamKillModal .modal-content {
  background-color: #423f3f;
  padding: 25px;
}

#dataContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  gap: 1rem;
}

.player-section {
  width: 400px;
  min-height: 250px;
  max-height: 1000px;
  border: 1px solid #5f6769;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  border-radius: 4px;
  overflow: auto;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.player-section h3 {
  color: #91857e;
  text-align: center;
  text-decoration: underline;
}

#linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #719192;
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

#linksContainer a {
  text-decoration: none;
  color: #dfcdc3;
  transition: color 0.3s ease;
  padding: 5px;
  display: block;
  border-radius: 4px;
  background-color: #719192;
  margin-right: 10px;
}

#linksContainer a:hover {
  color: #dfcdc3;
  background-color: #5f6769;
}
.close {
  transition: all 0.3s ease; /* Smooth transition for all changes */
  padding: 5px; /* Initial padding */
  display: inline-block; /* To ensure padding and other block properties apply */
}

.close:hover {
  color: #dfcdc3;
  background-color: #5f6769;
  padding: 5px;
  border-radius: 4px;
}
