*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #181a1b !important;
  color: #e0e0e0; /* Adjust the default text color for dark mode */
  padding: 50px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #c0c0c0; /* A lighter gray for label text */
}

input,
select {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #555;
  background-color: #333;
  color: #e0e0e0; /* Text color for input fields */
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#message {
  margin-top: 20px;
  text-align: center;
  color: greenyellow; /* Lighter gray for the message text */
}

#submitButton {
  transition: transform 0.1s, background-color 0.1s;
}

#submitButton:active {
  transform: scale(0.95);
  background-color: #333; /* Slightly darker button color when pressed */
}

h1 {
  text-align: center;
  color: #fff; /* White text for the header */
}

#teamKillModal.modal {
  display: none;
}

#teamKillModal .modal-content {
  background-color: #2c2c2c; /* Darker modal background */
  padding: 20px;
  border: 1px solid #444;
  width: 80%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

#teamKillModal {
  width: 80%;
  height: 80%;
  max-width: 600px;
  max-height: 800px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styles.css */

#dataContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Making sure the container takes the full height of the viewport */
  gap: 1rem; /* Space between each player box */
}

.player-section {
  width: 250px;
  min-height: 250px; /* This ensures the box always maintains this minimum height */
  max-height: 500px; /* Optional: After this height, the content will scroll */
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; /* Align the content at the top of the box */
  border-radius: 4px;
  overflow: auto; /* This will add scrollbars if the content overflows the maximum height */
  position: relative;
}
