body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 50px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#message {
  margin-top: 20px;
}

#submitButton {
  transition: transform 0.1s, background-color 0.1s; /* Smooth transition for transform and background-color properties */
}

#submitButton:active {
  transform: scale(
    0.95
  ); /* Reduce the size of the button to 95% of its original size when pressed */
  background-color: #ddd; /* Change the background color to a slightly darker shade when pressed */
}
