*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAADFBMVEUtLS8uLjAvLzEsKy2xgXVgAAAASElEQVR4Ae3QoQ3AAAwDQa9Qmu1DX5kk6lAdoEbBJk8tn4qHdtHyMi7qpspFM+y6iKJxEcvgctm5/IlBDGIQgxjEIAYxiME/H1nLq0bNJikRAAAAAElFTkSuQmCC);
  color: #d4c2b9;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #c3e8f3;
}

input,
select {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #5f6769;
  background-color: #3c4245;
  color: #dfcdc3;
  border-radius: 5px;
}

#openModalBtn {
  display: block;
  width: 15%;
  background-color: #a5968d;
  color: #000000;
  border: none;
  border-radius: 5px;
  margin-left: auto;
}

#viewDashboardBtn {
  width: 15%;
  margin-left: 5px;
}

#viewDashboardBtn:hover {
  color: #dfcdc3;
  background-color: #5f6769;
}

#openModalBtn:hover {
  color: #dfcdc3;
  background-color: #5f6769;
}

button {
  display: block;
  width: 95%;
  padding: 10px;
  background-color: #719192;
  color: #dfcdc3;
  border: none;
  border-radius: 5px;
}

#message {
  margin-top: 20px;
  text-align: center;
  color: #dfcdc3;
}

#submitButton {
  transition: transform 0.1s, background-color 0.1s;
}

#submitButton:active {
  transform: scale(0.95);
  background-color: #5f6769;
}

h1 {
  text-align: center;
  color: #dfcdc3;
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
  /* font-family: "Notable", sans-serif; */
}
h2 {
  text-align: center;
  color: #dfcdc3;
  text-transform: uppercase;
}
#teamKillModal {
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 40%;
}

#teamKillModal .modal-content {
  background-color: #423f3f;
  padding: 25px;
}

#dataContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  gap: 1rem;
}

.player-section {
  width: 400px;
  min-height: 250px;
  max-height: 1000px;
  border: 1px solid #5f6769;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  border-radius: 4px;
  overflow: auto;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.player-section h3 {
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
}

#linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #719192;
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

#linksContainer a {
  text-decoration: none;
  color: #dfcdc3;
  transition: color 0.3s ease;
  padding: 5px 10px 5px 5px; /* Adjusted padding-right */
  display: block;
  margin-right: 10px;
  border-right: 1px solid #5f6769;
}

#linksContainer a:last-child {
  border-right: none;
}

#linksContainer a:hover {
  color: #dfcdc3;
  background-color: #5f6769;
}

.close {
  transition: all 0.3s ease; /* Smooth transition for all changes */
  padding: 5px; /* Initial padding */
  display: inline-block;
}

.close:hover {
  color: #dfcdc3;
  background-color: #5f6769;
  padding: 5px;
  border-radius: 4px;
}

.delete-button:active {
  transform: scale(0.95); /* slightly reduce the size when pressed */
  background-color: #d9534f; /* change to a darker red when pressed */
}

.chart-container {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 15px;
}

.chart-container:nth-of-type(2n + 1) {
  clear: left;
}

#dataContainer .player-section {
  background-size: cover;
  background-position: center;
  color: white; /* White text */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Increased text shadow for better readability */
  height: 800px;
}

#dataContainer .player-section::before {
  content: ""; /* Necessary for the pseudo-element to be generated */
  position: absolute; /* Absolute position */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* Cover the entire player-section */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: -1; /* Place the overlay behind the text/content */
}

#dataContainer .player-section p,
#dataContainer .player-section h3 {
  /* Assuming the text is in <p> and <h3> tags */
  background-color: rgba(0, 0, 0, 0.774);
  padding: 5px;
  border-radius: 5px;
}

#dataContainer .player-section:nth-child(1) {
  background-image: url("./img/nickimage.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}

#dataContainer .player-section:nth-child(2) {
  background-image: url("./img/kyleimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#dataContainer .player-section:nth-child(3) {
  background-image: url("./img/danimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#dataContainer .player-section:nth-child(4) {
  background-image: url("./img/gregimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#dataContainer .player-section::before {
  content: ""; /* Necessary for the pseudo-element to be generated */
  position: absolute; /* Absolute position */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* Cover the entire player-section */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: -1;
}
