*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #3c4245;
  color: #dfcdc3;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #c3e8f3;
}

input,
select {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #5f6769;
  background-color: #3c4245;
  color: #dfcdc3;
  border-radius: 5px;
}

button {
  display: block;
  width: 95%;
  padding: 10px;
  background-color: #719192;
  color: #dfcdc3;
  border: none;
  border-radius: 5px;
}

#message {
  margin-top: 20px;
  text-align: center;
  color: #dfcdc3;
}

#submitButton {
  transition: transform 0.1s, background-color 0.1s;
}

#submitButton:active {
  transform: scale(0.95);
  background-color: #5f6769;
}

h1 {
  text-align: center;
  color: #dfcdc3;
}

#teamKillModal {
  background-color: black;
  position: fixed;
  top: 50%; /* center vertically */
  left: 50%; /* center horizontally */
  transform: translate(-50%, -50%); /* adjust for exact centering */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 40%;
}

#teamKillModal .modal-content {
  background-color: #353434;
  padding: 25px;
}

#dataContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  gap: 1rem;
}

.player-section {
  width: 400px;
  min-height: 250px;
  max-height: 1000px;
  border: 1px solid #5f6769;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  border-radius: 4px;
  overflow: auto;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

#linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #719192;
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px; /* Rounded corners for each link */
}
#linksContainer a {
  text-decoration: none; /* Removes the underline from the links */
  color: #dfcdc3; /* Sets the link color */
  transition: color 0.3s ease; /* Smooth color transition for hover effect */
  padding: 5px; /* Space around each link */
  display: block; /* Makes the entire area of the link clickable */
  border-radius: 4px; /* Rounded corners for each link */
  background-color: #719192;
  margin-right: 10px;
}

#linksContainer a:hover {
  color: #dfcdc3; /* Changes the link color when hovered */
  background-color: #5f6769; /* Background color for link hover effect */
}

#openModalBtn {
  display: block;
  width: 30%;
  background-color: #719192;
  color: #dfcdc3;
  border: none;
  border-radius: 5px;
  margin-left: auto; /* This will push the button to the far right */
}

#openModalBtn:hover {
  color: #dfcdc3; /* Changes the button text color when hovered */
  background-color: #5f6769; /* Background color for button hover effect */
}
